*, *:after, *:before {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.main {
  min-height: 100%;
}

.content {
  width: 100%;
  padding: 25px;
}
