.be-a-host {
  padding: 5% 0;
  background: #FFEB36;
  color: #4c4c4c;
  display: table;
  width: 100%;
}

.be-a-host header h1 {
  font-size: 3em;
  font-weight: 300;
}

.be-a-host .be-a-host-content, .be-a-host .be-a-host-img {
  display: table-cell;
  vertical-align: middle;
}

.be-a-host .be-a-host-content {
  width: 60%;
}

.be-a-host .be-a-host-content h4 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.be-a-host .be-a-host-content p {
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 0;
}

.be-a-host .be-a-host-img {
  width: 40%;
  text-align: right;
  position: relative;
}

.be-a-host .be-a-host-img img {
  width: 80%;
}

.be-a-host .how-to-help {
  text-align: right;
}

.be-a-host .how-to-help a {
  font-weight: 100;
  text-decoration: none;
  color: #aaa;
  font-size: 1.5em;
}
