.cover-page {
  text-align: center;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15% 0 10% 0;
}

.cover-page img {
  width: 80%;
  min-width: 200px;
  max-width: 800px;
}
